---
import '../css/themes.css';
import '../css/app.css';
import config from '../config';

import { type Props } from '../types';

const { title } = Astro.props;

const v2_icon = config.V2_ICON;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="generator" content={Astro.generator} />

        <!-- basic favicon -->
        <link rel="icon" type="image/svg+xml" href=`${v2_icon}.svg` />
        <link rel="icon" type="image/png" href=`${v2_icon}.png` />

        <!-- Open Graph Social Data -->
        <meta property="og:image" content={config.OG_IMAGE} />
        <meta property="og:description" content={config.OG_DESC} />
        <meta property="og:title" content={config.OG_TITLE} />
        <meta property="og:url" content={config.OG_URL} />
		<meta property="og:author" content={config.OG_AUTHOR} />
        <meta property="og:type" content={config.OG_TYPE} />

		<link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css" />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
	<!-- Third Party Scripts -->
	<script src="https://code.jquery.com/jquery-latest.min.js"></script>
	<script is:inline src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.5/gsap.min.js"></script>
	<script src="https://cdn.jsdelivr.net/jquery.easing/1.3/jquery.easing.1.3.min.js"></script>
	<script is:inline src="https://cdn.jsdelivr.net/jquery.drawsvg/1/jquery.drawsvg.min.js"></script>
	<script src="https://unpkg.com/imagesloaded@5/imagesloaded.pkgd.min.js"></script>

	<!-- First Party Scripts -->
	<script is:inline src="../scripts/animation.js"></script>
</html>
